<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.cloudcannon.com/css/TT-Norms-Pro_400_500_800.css" rel="stylesheet" type="text/css">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.Data.meta.favicon.apple_touch_icon }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.Data.meta.favicon.large_icon }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.Data.meta.favicon.small_icon }}">
        <link rel="shortcut icon" href="{{ site.Data.meta.favicon.shortcut_icon }}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">

        <link rel="stylesheet" href="/css/site.css">   
        <title>{{ title }}</title>

        <style>
          {% for theme in theme.colors %}
            body.{{theme[0]}} {
                {% for grouped_tokens in theme[1] %}
                    {% for token in grouped_tokens[1] %}
                        --{{ token[0] }}: {{ token[1] }};
                    {% endfor %}
                {% endfor %}
            }
          {% endfor %}
           
        </style>
    </head>
    <body  x-data="darkModeToggle()" x-init="init()" x-bind:class="{ dark: mode === 'dark', light: mode === 'light' }">
        {% include 'partials/banner.html' %}
        {% include 'partials/nav.html' %}

        <div class="search">
            <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
            <div id="search"></div>
        </div>
        <div class="column">
            <aside>
                {% include 'partials/docnav.html' %}
            </aside>
            <main>
                <h1>{{ title }}</h1>
                {% include 'partials/content.html', content:content %}
            </main>
        </div>
        {% include 'partials/footer.html' %}
    
    
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                new PagefindUI({ element: "#search" });
            });
        </script>
    
        <script type="text/javascript" src="/js/site.js" defer></script>
    </body>
</html>