<ol class="docnav-list">
    {% for collection in collections %}
        {% if collection[0] != 'all' %}
            {% if collection[0] == 'page' %}
                {% assign navPages = collections[collection[0]] | eleventyNavigation %}
                {%- for entry in navPages %}
                    <li {% if entry.url == page.url %} class="active" {% endif %}>
                        <a href="{{ entry.url }}">{{ entry.title }}</a>
                    </li>
                {%- endfor %}
            {% else %}
                <li>
                    <p class="docnav-title">{{ collection[0] }}</p>
                    <ol class="docnav-list">
                        {% assign navPages = collections[collection[0]] | eleventyNavigation %}
                        {%- for entry in navPages %}
                            <li {% if entry.url == page.url %} class="active" {% endif %}>
                                <a href="{{ entry.url }}">{{ entry.title }}</a>
                            </li>
                        {% endfor %}
                    </ol>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ol>